.adminActions {
	position: relative;
	/*position: fixed;*/
	/*bottom: 12px;*/
	/*right: 12px;*/
}

.adminActions button {
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
}

.adminActions .adminButton {
	height: 45px;
	width: 45px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 1;
	box-shadow: 0 .125rem .25rem 0 rgba(58,59,69,.2)!important;
	background-color: #1CC88A;
}

.adminActions .adminButton.paused {
	box-shadow: 1px 1px 14px #fc2961;
	background-color: #fc2961;
}

.adminActions .adminButtons button.hide {
	display: none;
}

.adminActions .adminButton svg {
	padding-top: 0;
	width: 28px;
	height: 28px;
}

.adminActions .adminButton i {
	font-size: 24px;
}

.adminButtons {
	position: absolute;
	background-color: white;
	width: 175px;
	bottom: 125%;
	right: 0;
	border-radius: 14px;
	padding: 12px 9px;
	opacity: 0;
	visibility: hidden;
	transition: opacity .2s ease-in-out .2s, transform .15s ease-in-out;
	box-shadow: 0 .125rem .25rem 0 rgba(58,59,69,.2)!important;
	z-index: 10000;
	max-width: 340px;
	overflow: visible;
	text-align: left;
}

.adminActions .adminButtons button {
	text-align: left;
	padding: 9px 6px;
	border-radius: 9px;
	display: flex;
	align-items: center;
	justify-content: left;
	width: 100%;
	border: none;
	text-decoration: none;
	line-height: 1.15;
	background-color: transparent;
	font-size: 16px;
	color: #3B4A54;
}

.adminActions .adminButtons button svg {
	width: 24px;
	margin-right: 12px;
}

.adminActions .adminButtons button:hover {
	background-color: #F0F2F5;
}

.adminActions button i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.adminActions .adminToggle {
	-webkit-appearance: none;
	position: absolute;
	border-radius: 50%;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	z-index: 2;
}

.adminActions .adminToggle:checked~.adminButtons {
	opacity: 1;
	visibility: visible;
}

.adminActions .adminToggle:disabled~#buttonOptions {
	opacity: 0.5;
	cursor: not-allowed;
}

.adminActions .load {
	font-family: 'Raleway', serif;
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 5px solid #1CC88A;
	margin: 3px 0 0 2px;
	border-radius: 100%;
	border-top: 5px solid transparent;
	-webkit-animation: load-animate infinite linear 1s;
	animation: load-animate infinite linear 1s;
}

.adminActions .hide {
	display: none;
}

.adminActions #loading:not(.hide)+#buttonOptions{
	display: none;
}

@-webkit-keyframes load-animate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		opacity: 0.35;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load-animate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		opacity: 0.35;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
